{% extends "base.html" %}

{% block content %}

<!-- html stuff here -->
<h1>Deep Thoughts Go Here</h1>


<!--this is the form-->
<form method = "post">
    <label>
        <div>Title</div>
        <input type = "text" name= "title" value="{{title}}">
    </label>

    <label>
        <div>Give Us Your Feels</div>
        <textarea name= "wordart"> {{wordart}} </textarea>
    </label>

    <div class="error"> {{error}} </div>

    <input type="submit">

</form>

<!-- Here begins html moved to newpost.html

<hr>

{% for thought in wordvomit %}
    <div class = "thought">
        <div class = "thought-title"> {{thought.title}} </div>
        <pre class="thought-body">{{thought.wordart}}</pre>
    </div>
{% endfor %}

-->

{% endblock %}